@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
};
@font-face {
  font-family: 'Noto Sans Kannada';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Kannada-Normal.ttf') format('truetype');;
};
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 21, 25, 101;
  --background-end-rgb: 21, 25, 101;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 21, 25, 101;
    --background-end-rgb:21, 25, 101;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background: #dbdbdb;

}

.mynav-items{
  @apply mx-1 px-6 font-ubuntu font-bold p-2 hover:shadow-lg rounded-3xl text-xs cursor-pointer hover:bg-white  hover:text-black text-white;
}

.mobile-nav-items{
  @apply block shadow-lg text-white hover:bg-white hover:text-black px-3 py-2 rounded-md text-base font-medium transition-all duration-300;
}

.active{
  @apply px-6 font-ubuntu font-bold p-2 shadow-lg rounded-3xl text-xs cursor-pointer bg-white text-black ;
}

